input {
  cursor: pointer;
}

select, .sortmenu div .sortby .sort-select {
  cursor: pointer;
}

.container {
  background-color: white;
  max-width: 488px;
  width: 60%;
  min-width: 320px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px auto 32px auto;
  border-top: 4px solid #3AC7EC;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 20px 32px;
  position: relative;
}
@media (max-width: 980px) {
  .container {
    margin-bottom: 258px;
  }
}
.container .back-icon {
  width: 17px;
  height: 26px;
  background-color: transparent;
  background-image: url("../../assets/icons/back.svg");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
}
.container .form-header {
  width: calc(100% - 34px);
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-family: "Quicksand";
  margin-right: 17px;
  margin-bottom: 32px;
  text-align: center;
}
.container .school-type {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
.container .school-type .option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}
@media (max-width: 450px) {
  .container .school-type .option {
    margin-right: 4px;
  }
}
@media (max-width: 450px) {
  .container .school-type .option input[type=radio] {
    margin-right: 4px;
  }
}
.container .address-select {
  margin-bottom: 36px;
}
.container .address-select p {
  width: 100%;
  height: 16px;
  color: #666666;
  font-size: 12px;
  line-height: 16px;
}
.container .address-select select, .container .address-select .sortmenu div .sortby .sort-select, .sortmenu div .sortby .container .address-select .sort-select {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Quicksand";
  width: 100%;
}
.container .name-pswd {
  position: relative;
}
.container .name-pswd p {
  font-size: 14px;
  color: #1F7A54;
  text-align: end;
  cursor: pointer;
}
.container .name-pswd .view-icon {
  cursor: pointer;
  width: 22px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 2px;
  right: 10px;
}
.container .name {
  margin-top: 56px;
}
.container .pswd {
  margin-top: 33px;
}
.container .remember-me {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

select, .sortmenu div .sortby .sort-select {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: #222222;
  padding-bottom: 5px;
}

.topbar {
  height: 64px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  background: #8DDC97;
  margin: 24px 24px;
}
.topbar .icon-card {
  cursor: pointer;
  width: 50%;
  height: 60px;
  box-sizing: content-box;
  background: #8DDC97;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.topbar .icon-card:focus {
  outline: auto;
}
.topbar .icon-card .icon {
  width: 21px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}
.topbar .icon-card .icon-number {
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
}
.topbar .active-black {
  border: none;
  border-bottom: 4px solid black;
}

.sortmenu {
  max-width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 24px 24px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
@media (max-width: 980px) {
  .sortmenu {
    margin: 24px;
  }
}
.sortmenu p {
  font-size: 12px;
  color: #686868;
}
@media (max-width: 350px) {
  .sortmenu p {
    margin-left: 4px;
    font-size: 10px;
  }
}
.sortmenu div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  width: 253px;
  height: 27px;
}
@media (max-width: 450px) {
  .sortmenu div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.sortmenu div .sortby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 24px 0px 0px;
}
@media (max-width: 450px) {
  .sortmenu div .sortby {
    margin: 0px 10px 0px 0px;
  }
}
.sortmenu div .sortby p {
  width: 45px;
  margin-right: 5px;
}
.sortmenu div .sortby .sort-select {
  background-color: #EEEEEE;
  width: 165px;
  color: #333333;
  padding: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: Quicksand;
  cursor: pointer;
}
.sortmenu div .sortby .sort-select:focus {
  outline: 1px solid #7A1F45;
}
@media (max-width: 450px) {
  .sortmenu div .sortby .sort-select {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    font-family: Quicksand;
    width: 150px;
  }
}
.sortmenu div .up-icon {
  width: 12px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.course-container {
  display: grid;
  margin: 0px 24px;
  grid-template-columns: repeat(auto-fill, minmax(448px, 1fr));
  grid-gap: 24px;
}
@media (max-width: 980px) {
  .course-container {
    grid-template-columns: auto 571px auto;
    grid-gap: 0px;
    justify-items: stretch;
  }
}
@media (max-width: 580px) {
  .course-container {
    grid-template-columns: 1fr;
  }
}
.course-container .course-card {
  max-width: 571px;
  height: 246px;
  background-color: #fff;
  border-radius: 2px;
  padding: 24px 24px 0 24px;
  position: relative;
}
@media (max-width: 980px) {
  .course-container .course-card {
    grid-column: 2/span 1;
    margin-bottom: 24px;
  }
}
@media (max-width: 580px) {
  .course-container .course-card {
    grid-column: 1/span 1;
    padding: 5px 5px 0px;
  }
}
@media (max-width: 450px) {
  .course-container .course-card {
    height: 230px;
  }
}
@media (max-width: 350px) {
  .course-container .course-card {
    width: 272px;
    padding: 3px 3px 3px;
    height: 170px;
  }
}
.course-container .course-card .expired {
  width: 52px;
  height: 18px;
  font-size: 10px;
  line-height: 16px;
  color: #D80000;
  background: #FFE4E6;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
}
.course-container .course-card .star {
  position: absolute;
  top: 24px;
  right: 24px;
}
@media (max-width: 580px) {
  .course-container .course-card .star {
    top: 5px;
    right: 5px;
  }
}
.course-container .course-card .course-card-top {
  display: flex;
}
.course-container .course-card .course-card-top .course-img {
  width: 132px;
  height: 157px;
  margin-right: 16px;
}
@media (max-width: 580px) {
  .course-container .course-card .course-card-top .course-img {
    margin-right: 5px;
  }
}
@media (max-width: 350px) {
  .course-container .course-card .course-card-top .course-img {
    width: 80px;
    height: 100px;
  }
}
.course-container .course-card .course-card-top .course-info {
  width: 100%;
}
.course-container .course-card .course-card-top .course-info .course-title {
  width: 90%;
  color: #222222;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: Quicksand;
  max-height: 40px;
  overflow: hidden;
}
@media (max-width: 350px) {
  .course-container .course-card .course-card-top .course-info .course-title {
    margin: 0px;
  }
}
.course-container .course-card .course-card-top .course-info .course-sg, .course-container .course-card .course-card-top .course-info .course-unit-info, .course-container .course-card .course-card-top .course-info .course-student {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: Quicksand;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 8px 0;
}
@media (max-width: 350px) {
  .course-container .course-card .course-card-top .course-info .course-sg, .course-container .course-card .course-card-top .course-info .course-unit-info, .course-container .course-card .course-card-top .course-info .course-student {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    font-family: Quicksand;
    margin: 2px 0;
  }
}
.course-container .course-card .course-card-top .course-info .course-sg {
  color: #666666;
}
.course-container .course-card .course-card-top .course-info .course-sg .line {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 9px;
  background-color: rgba(0, 0, 0, 0.1215686275);
}
.course-container .course-card .course-card-top .course-info .course-sg .text-green {
  color: #1F7A54;
}
.course-container .course-card .course-card-top .course-info .course-unit-info {
  font-weight: 700;
}
.course-container .course-card .course-card-top .course-info .course-unit-info .course-unit, .course-container .course-card .course-card-top .course-info .course-unit-info .course-lesson, .course-container .course-card .course-card-top .course-info .course-unit-info .course-topic {
  color: #666666;
  display: inline-block;
  margin: 0 8px 0 3px;
}
@media (max-width: 350px) {
  .course-container .course-card .course-card-top .course-info .course-unit-info .course-unit, .course-container .course-card .course-card-top .course-info .course-unit-info .course-lesson, .course-container .course-card .course-card-top .course-info .course-unit-info .course-topic {
    margin: 0px 2px 0 2px;
  }
}
.course-container .course-card .course-card-top .course-info .course-student {
  color: #666666;
  margin-bottom: 0px;
}
.course-container .course-card .course-card-top .course-info .course-student .line {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 9px;
  background-color: rgba(0, 0, 0, 0.1215686275);
}
@media (max-width: 350px) {
  .course-container .course-card .course-card-top .course-info .course-student {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    font-family: Quicksand;
  }
}
.course-container .course-card .course-card-top .course-info .course-classes {
  width: 100%;
}
.course-container .course-card .course-card-top .course-info .course-classes select, .course-container .course-card .course-card-top .course-info .course-classes .sortmenu div .sortby .sort-select, .sortmenu div .sortby .course-container .course-card .course-card-top .course-info .course-classes .sort-select {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: Quicksand;
}
@media (max-width: 350px) {
  .course-container .course-card .course-card-top .course-info .course-classes select, .course-container .course-card .course-card-top .course-info .course-classes .sortmenu div .sortby .sort-select, .sortmenu div .sortby .course-container .course-card .course-card-top .course-info .course-classes .sort-select {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-family: Quicksand;
    padding: 0px;
  }
}
.course-container .course-card .course-card-top .course-info .course-classes .full-width {
  width: 100%;
}
.course-container .course-card .course-card-top .course-info .course-classes .disabled {
  color: #222222;
  opacity: 0.4;
}
.course-container .course-card .hl {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  margin: 16px 0px;
}
@media (max-width: 350px) {
  .course-container .course-card .hl {
    margin: 12px 0;
  }
}
.course-container .course-card .course-card-bottom {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.course-container .course-card .course-card-bottom button {
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
  border: none;
}
.course-container .course-card .course-card-bottom button img {
  cursor: pointer;
}
.course-container .course-card .course-card-bottom .disabled {
  opacity: 0.4;
  cursor: auto;
}

footer {
  margin-top: 8px;
}
@media (min-width: 1450px) {
  footer {
    margin-top: 32px;
  }
}
@media (max-width: 1450px) {
  footer {
    margin-top: 32px;
  }
}

input[type=radio], input[type=checkbox] {
  accent-color: #1F7A54;
  width: 20px;
  height: 24px;
  margin-right: 8px;
}

select, .sortmenu div .sortby .sort-select {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: #222222;
  padding-bottom: 5px;
}

input[type=text], input[type=password] {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Quicksand";
  padding-bottom: 5px;
}

.submit-btn {
  display: block;
  width: 216px;
  height: 40px;
  margin: 32px auto 24px auto;
  background: #3FD28B;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Quicksand";
}
.submit-btn:focus {
  outline: 2px solid #7A1F45;
}

.navbar {
  width: 100%;
  height: 56px;
  background-color: #25313F;
  position: relative;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.navbar .demo-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  background: transparent url("../../assets/header_image.png") 0% 0% no-repeat padding-box;
  mix-blend-mode: overlay;
  opacity: 0.8;
}
.navbar .main-logo {
  width: 134px;
  height: 36px;
  margin: 10px auto 10px 24px;
  z-index: 5;
}
.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 980px) {
  .navbar .navbar-nav {
    display: block;
    border-radius: 20px;
    display: none;
    position: absolute;
    width: 300px;
    height: 0px;
    overflow: hidden;
    top: 50px;
    right: 10px;
    transform: scale(0.001);
    transition: all 0.5s ease;
    z-index: 999;
    opacity: 0;
    background-color: #25313F;
  }
  .navbar .navbar-nav .navbar-bg {
    width: 300px;
    height: 350px;
    background: transparent url("../../assets/header_image.png");
    opacity: 0.8;
    mix-blend-mode: overlay;
    position: absolute;
    z-index: -100;
    border-radius: 20px;
  }
}
.navbar .navbar-nav .close-btn {
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid #DFF0D8;
  color: white;
  font-size: 25px;
  line-height: 25px;
  margin: 15px 15px 0 0;
  display: none;
  margin-left: auto;
}
@media (max-width: 980px) {
  .navbar .navbar-nav .close-btn {
    display: block;
  }
}
.navbar .navbar-nav .close-btn:focus {
  outline: 1px solid red;
  box-shadow: 2px 2px 10px red;
}
.navbar .navbar-nav .nav-item {
  margin-left: 32px;
  z-index: 999;
  cursor: pointer;
  height: 56px;
  line-height: 56px;
  color: #3FD28B;
}
.navbar .navbar-nav .nav-item a {
  color: #3FD28B;
}
.navbar .navbar-nav .nav-item a:focus {
  outline: 1px solid #DFF0D8;
}
.navbar .navbar-nav .active-white {
  border-bottom: 4px solid white;
}
.navbar .navbar-nav .active-white a {
  color: white;
}
.navbar .collapse {
  display: block;
  transform: scale(1);
  opacity: 1;
  height: 350px;
}
.navbar .nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
@media (max-width: 450px) {
  .navbar .nav-icons {
    margin-right: 2px;
  }
}
.navbar .nav-icons .nav-icon {
  background: transparent;
  border: none;
  margin-left: 32px;
  cursor: pointer;
  position: relative;
  height: 100%;
}
.navbar .nav-icons .nav-icon:focus {
  outline: 1px solid #DFF0D8;
}
@media (max-width: 450px) {
  .navbar .nav-icons .nav-icon {
    margin-left: 10px;
  }
}
.navbar .nav-icons .nav-icon .icon-number {
  width: 17px;
  height: 17px;
  line-height: 17px;
  background-color: #2A7FF3;
  color: white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: -6px;
  right: -5px;
}
.navbar .nav-icons .nav-icon .announcement-number {
  top: -10px;
  right: -5px;
}
.navbar .nav-icons .avatar {
  position: relative;
  cursor: pointer;
  margin-left: 32px;
}
.navbar .nav-icons .avatar:focus {
  outline: 1px solid #DFF0D8;
}
@media (max-width: 450px) {
  .navbar .nav-icons .avatar {
    margin-left: 10px;
  }
}
.navbar .nav-icons .avatar img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .nav-icons .avatar .avatar-number {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: -4px;
  right: -5px;
  background-color: white;
  color: #222222;
  font-size: 10px;
  line-height: 17px;
}
.navbar .nav-icons .ham-icon {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navbar .nav-icons .ham-icon:focus {
  outline: 1px solid #DFF0D8;
}
@media (max-width: 980px) {
  .navbar .nav-icons .ham-icon {
    display: block;
  }
}
.navbar .nav-icons .ham-icon img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blue-bottom {
  box-sizing: content-box;
  border-bottom: 2px solid #31B9E4;
}

footer .footer-top {
  margin-bottom: 16px;
}
footer .footer-top p {
  width: 130px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Quicksand";
}
footer .footer-top p a {
  color: #1F7A54;
}
footer .footer-top p .line {
  display: inline-block;
  width: 1px;
  height: 18px;
  margin: 0 8px;
  background-color: rgba(0, 0, 0, 0.1215686275);
}
footer .footer-bottom {
  min-height: 40px;
  height: auto;
  width: 100%;
  background: #E0E1E1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom .footer-logo {
  margin-left: 32px;
}
footer .footer-bottom .line {
  display: inline-block;
  width: 1px;
  height: 24px;
  margin: 0 16px;
  background-color: rgba(0, 0, 0, 0.1215686275);
}
footer .footer-bottom .footer-br {
  display: flex;
  flex-wrap: wrap;
  color: #616161;
}
footer .footer-bottom .footer-br .footer-data {
  margin-right: 10px;
  font-size: 12px;
}
footer .footer-bottom .footer-br .footer-data:nth-child(2) {
  font-weight: bold;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 1px solid #7A1F45;
}

body {
  max-width: 100vw;
  height: auto;
  background: #EEEEEE;
  font-family: "Quicksand";
}/*# sourceMappingURL=main.css.map */