input {
  cursor: pointer;
}

select, .sortmenu div .sortby .sort-select {
  cursor: pointer;
}

@keyframes menuOpen {
  0% {
    transform: translateY(-50%) scaleY(0);
  }
  100% {
    transform: translateY(0%) scaleY(1);
  }
}
@keyframes menuClose {
  0% {
    transform: translateY(0%) scaleY(1);
  }
  99% {
    transform: translateY(-50%) scaleY(0);
  }
  100% {
    display: none;
  }
}
.container {
  background-color: white;
  max-width: 488px;
  width: 60%;
  min-width: 320px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px auto 32px auto;
  border-top: 4px solid #3AC7EC;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 20px 32px;
  position: relative;
}
@media (max-width: 980px) {
  .container {
    margin-bottom: 258px;
  }
}
.container .back-icon {
  width: 17px;
  height: 26px;
  background-color: transparent;
  background-image: url("../../assets/icons/back.svg");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
}
.container .form-header {
  width: calc(100% - 34px);
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-family: "Quicksand";
  margin-right: 17px;
  margin-bottom: 32px;
  text-align: center;
}
.container .school-type {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
.container .school-type .option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}
@media (max-width: 450px) {
  .container .school-type .option {
    margin-right: 4px;
  }
}
@media (max-width: 450px) {
  .container .school-type .option input[type=radio] {
    margin-right: 4px;
  }
}
.container .address-select {
  margin-bottom: 36px;
}
.container .address-select p {
  width: 100%;
  height: 16px;
  color: #666666;
  font-size: 12px;
  line-height: 16px;
}
.container .address-select select, .container .address-select .sortmenu div .sortby .sort-select, .sortmenu div .sortby .container .address-select .sort-select {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Quicksand";
  width: 100%;
}
.container .name-pswd {
  position: relative;
}
.container .name-pswd p {
  font-size: 14px;
  color: #1F7A54;
  text-align: end;
  cursor: pointer;
}
.container .name-pswd .view-icon {
  cursor: pointer;
  width: 22px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 2px;
  right: 10px;
}
.container .name {
  margin-top: 56px;
}
.container .pswd {
  margin-top: 33px;
}
.container .remember-me {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

select, .sortmenu div .sortby .sort-select {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: #222222;
  padding-bottom: 5px;
}

.topbar {
  height: 64px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  background: #8DDC97;
  margin: 24px 24px;
}
.topbar .icon-card {
  cursor: pointer;
  width: 50%;
  height: 60px;
  box-sizing: content-box;
  background: #8DDC97;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.topbar .icon-card:focus {
  outline: auto;
}
.topbar .icon-card .icon {
  width: 21px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}
.topbar .icon-card .icon-number {
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
}
.topbar .active-black {
  border: none;
  border-bottom: 4px solid black;
}

.sortmenu {
  max-width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 24px 24px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
@media (max-width: 980px) {
  .sortmenu {
    margin: 24px;
  }
}
.sortmenu p {
  font-size: 12px;
  color: #686868;
}
@media (max-width: 350px) {
  .sortmenu p {
    margin-left: 4px;
    font-size: 10px;
  }
}
.sortmenu div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  width: 253px;
  height: 27px;
}
@media (max-width: 450px) {
  .sortmenu div {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.sortmenu div .sortby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 24px 0px 0px;
}
@media (max-width: 450px) {
  .sortmenu div .sortby {
    margin: 0px 10px 0px 0px;
  }
}
.sortmenu div .sortby p {
  width: 45px;
  margin-right: 5px;
}
.sortmenu div .sortby .sort-select {
  background-color: #EEEEEE;
  width: 165px;
  color: #333333;
  padding: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: Quicksand;
  cursor: pointer;
}
.sortmenu div .sortby .sort-select:focus {
  outline: 1px solid #7A1F45;
}
@media (max-width: 450px) {
  .sortmenu div .sortby .sort-select {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    font-family: Quicksand;
    width: 150px;
  }
}
.sortmenu div .up-icon {
  width: 12px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.course-main-col {
  display: flex;
  gap: 24px;
  padding: 0px 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.course-main-col .course-card {
  max-width: 476px;
  width: 476px;
  height: 246px;
  flex-shrink: 1;
  flex-basis: 476px;
  background-color: #fff;
  border-radius: 2px;
  padding: 24px 24px 0 24px;
  position: relative;
}
@media (max-width: 980px) {
  .course-main-col .course-card {
    flex-grow: 1;
    max-width: 571px;
  }
}
@media (max-width: 580px) {
  .course-main-col .course-card {
    width: 377px;
    padding: 5px 5px 0px;
  }
}
@media (max-width: 450px) {
  .course-main-col .course-card {
    width: 327px;
    height: 230px;
  }
}
@media (max-width: 350px) {
  .course-main-col .course-card {
    width: 272px;
    padding: 3px 3px 3px;
    height: 170px;
  }
}
.course-main-col .course-card:last-child {
  margin-right: 0px;
}
.course-main-col .course-card .expired {
  width: 52px;
  height: 18px;
  font-size: 10px;
  line-height: 16px;
  color: #D80000;
  background: #FFE4E6;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
}
.course-main-col .course-card .star {
  position: absolute;
  top: 24px;
  right: 24px;
}
@media (max-width: 580px) {
  .course-main-col .course-card .star {
    top: 5px;
    right: 5px;
  }
}
.course-main-col .course-card .star img {
  width: 20px;
  height: 24px;
}
.course-main-col .course-card .course-card-top {
  display: flex;
}
.course-main-col .course-card .course-card-top .course-img {
  width: 132px;
  height: 157px;
  margin-right: 16px;
}
@media (max-width: 580px) {
  .course-main-col .course-card .course-card-top .course-img {
    margin-right: 5px;
  }
}
@media (max-width: 350px) {
  .course-main-col .course-card .course-card-top .course-img {
    width: 80px;
    height: 100px;
  }
}
.course-main-col .course-card .course-card-top .course-info {
  width: 100%;
}
.course-main-col .course-card .course-card-top .course-info .course-title {
  width: 90%;
  color: #222222;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: Quicksand;
  max-height: 40px;
  overflow: hidden;
}
@media (max-width: 350px) {
  .course-main-col .course-card .course-card-top .course-info .course-title {
    margin: 0px;
  }
}
.course-main-col .course-card .course-card-top .course-info .course-sg, .course-main-col .course-card .course-card-top .course-info .course-unit-info, .course-main-col .course-card .course-card-top .course-info .course-student {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: Quicksand;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 8px 0;
}
@media (max-width: 350px) {
  .course-main-col .course-card .course-card-top .course-info .course-sg, .course-main-col .course-card .course-card-top .course-info .course-unit-info, .course-main-col .course-card .course-card-top .course-info .course-student {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    font-family: Quicksand;
    margin: 2px 0;
  }
}
.course-main-col .course-card .course-card-top .course-info .course-sg {
  color: #666666;
}
.course-main-col .course-card .course-card-top .course-info .course-sg .line {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 9px;
  background-color: rgba(0, 0, 0, 0.1215686275);
}
.course-main-col .course-card .course-card-top .course-info .course-sg .text-green {
  color: #1F7A54;
}
.course-main-col .course-card .course-card-top .course-info .course-unit-info {
  font-weight: 700;
}
.course-main-col .course-card .course-card-top .course-info .course-unit-info .course-unit, .course-main-col .course-card .course-card-top .course-info .course-unit-info .course-lesson, .course-main-col .course-card .course-card-top .course-info .course-unit-info .course-topic {
  color: #666666;
  display: inline-block;
  margin: 0 8px 0 3px;
}
@media (max-width: 350px) {
  .course-main-col .course-card .course-card-top .course-info .course-unit-info .course-unit, .course-main-col .course-card .course-card-top .course-info .course-unit-info .course-lesson, .course-main-col .course-card .course-card-top .course-info .course-unit-info .course-topic {
    margin: 0px 2px 0 2px;
  }
}
.course-main-col .course-card .course-card-top .course-info .course-student {
  color: #666666;
  margin-bottom: 0px;
}
.course-main-col .course-card .course-card-top .course-info .course-student .line {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 9px;
  background-color: rgba(0, 0, 0, 0.1215686275);
}
@media (max-width: 350px) {
  .course-main-col .course-card .course-card-top .course-info .course-student {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    font-family: Quicksand;
  }
}
.course-main-col .course-card .course-card-top .course-info .course-classes {
  width: 100%;
}
.course-main-col .course-card .course-card-top .course-info .course-classes select, .course-main-col .course-card .course-card-top .course-info .course-classes .sortmenu div .sortby .sort-select, .sortmenu div .sortby .course-main-col .course-card .course-card-top .course-info .course-classes .sort-select {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: Quicksand;
}
@media (max-width: 350px) {
  .course-main-col .course-card .course-card-top .course-info .course-classes select, .course-main-col .course-card .course-card-top .course-info .course-classes .sortmenu div .sortby .sort-select, .sortmenu div .sortby .course-main-col .course-card .course-card-top .course-info .course-classes .sort-select {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-family: Quicksand;
    padding: 0px;
  }
}
.course-main-col .course-card .course-card-top .course-info .course-classes .full-width {
  width: 100%;
}
.course-main-col .course-card .course-card-top .course-info .course-classes .disabled {
  color: #222222;
  opacity: 0.4;
}
.course-main-col .course-card .hl {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  margin: 16px 0px;
}
@media (max-width: 350px) {
  .course-main-col .course-card .hl {
    margin: 12px 0;
  }
}
.course-main-col .course-card .course-card-bottom {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.course-main-col .course-card .course-card-bottom button {
  width: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
  border: none;
}
.course-main-col .course-card .course-card-bottom button img {
  cursor: pointer;
}
.course-main-col .course-card .course-card-bottom button img.preview {
  width: 22px;
  height: 24px;
}
.course-main-col .course-card .course-card-bottom button img.manage-course, .course-main-col .course-card .course-card-bottom button img.grade-submission {
  width: 18px;
  height: 20px;
}
.course-main-col .course-card .course-card-bottom .disabled {
  opacity: 0.4;
  cursor: auto;
}

footer {
  margin-top: 32px;
}

input[type=radio], input[type=checkbox] {
  accent-color: #1F7A54;
  width: 20px;
  height: 24px;
  margin-right: 8px;
}

select, .sortmenu div .sortby .sort-select {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: #222222;
  padding-bottom: 5px;
}

input[type=text], input[type=password] {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Quicksand";
  padding-bottom: 5px;
}

.submit-btn {
  display: block;
  width: 216px;
  height: 40px;
  margin: 32px auto 24px auto;
  background: #3FD28B;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Quicksand";
}
.submit-btn:focus {
  outline: 2px solid #7A1F45;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3803921569) 0% 0% no-repeat padding-box;
  border-radius: 6px;
}

.navbar {
  width: 100%;
  height: 56px;
  background-color: #25313F;
  box-sizing: content-box;
  border-bottom: 2px solid #31B9E4;
  position: relative;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.navbar .demo-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  background: transparent url("../../assets/header_image.png") 0% 0% no-repeat padding-box;
  mix-blend-mode: overlay;
  opacity: 0.8;
}
.navbar .main-logo {
  width: 134px;
  height: 36px;
  margin: 10px auto 10px 24px;
  z-index: 5;
}
.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 980px) {
  .navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    width: 280px;
    top: 59px;
    right: 16px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
    z-index: 99;
    display: none;
  }
}
.navbar .navbar-nav .nav-item {
  margin: 0px 12px;
  z-index: 999;
  height: 56px;
  line-height: 56px;
  color: #3FD28B;
}
@media (max-width: 980px) {
  .navbar .navbar-nav .nav-item {
    margin: 0px;
    min-height: 48px;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 48px;
    width: 100%;
    box-sizing: border-box;
  }
}
.navbar .navbar-nav .nav-item .subnav-header {
  cursor: pointer;
}
@media (max-width: 980px) {
  .navbar .navbar-nav .nav-item .subnav-header {
    padding-left: 12px;
  }
}
.navbar .navbar-nav .nav-item .subnav-header a {
  text-decoration: none;
  color: #3FD28B;
  padding: 19px 4px;
  cursor: pointer;
}
.navbar .navbar-nav .nav-item .subnav-header a:focus {
  outline: 1px solid #DFF0D8;
}
@media (max-width: 980px) {
  .navbar .navbar-nav .nav-item .subnav-header a {
    color: #1F7A54;
  }
  .navbar .navbar-nav .nav-item .subnav-header a:focus {
    outline: 1px solid #7A1F45;
  }
}
.navbar .navbar-nav .nav-item .subnav-header .drop-down-icon {
  display: none;
}
@media (max-width: 980px) {
  .navbar .navbar-nav .nav-item .subnav-header .drop-down-icon {
    display: block;
    cursor: pointer;
    width: 12px;
    height: 24px;
    float: right;
    padding: 12px;
    margin: 12px 12px 0px 0px;
    background-image: url("/assets/icons/arrow-down.svg");
    background-position: center;
    background-size: cover;
    background-color: inherit;
    border: none;
  }
}
.navbar .navbar-nav .nav-item .subnav-header .upsidedown {
  transform: scaleY(-1);
}
.navbar .navbar-nav .active-white {
  border-bottom: 4px solid white;
}
.navbar .navbar-nav .active-white a {
  color: white;
}
@media (max-width: 980px) {
  .navbar .navbar-nav .active-white {
    border: none;
  }
  .navbar .navbar-nav .active-white a {
    color: #1F7A54;
  }
}
@media (max-width: 980px) {
  .navbar .navbar-nav .active-navitem {
    background-color: #F3F3F3;
  }
}
.navbar .expand {
  display: flex;
}
.navbar .subnav {
  display: none;
}
@media (max-width: 980px) {
  .navbar .subnav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}
.navbar .subnav .subnav-item {
  height: 48px;
  line-height: 46px;
  margin-left: 28px;
}
.navbar .subnav .subnav-item a {
  text-decoration: none;
  color: #1F7A54;
  padding: 4px 4px;
}
.navbar .close {
  display: none;
}
.navbar .nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-right: 8px;
  height: 56px;
}
@media (max-width: 450px) {
  .navbar .nav-icons {
    margin-right: 0px;
  }
}
.navbar .nav-icons .nav-icon {
  background: transparent;
  border: none;
  margin: 0px 4px;
  padding: 0 12px;
  cursor: pointer !important;
  position: relative;
  height: 56px;
}
.navbar .nav-icons .nav-icon:focus {
  outline: 1px solid #DFF0D8;
}
.navbar .nav-icons .nav-icon button {
  cursor: pointer;
}
.navbar .nav-icons .nav-icon button:focus {
  outline: none;
}
@media (max-width: 580px) {
  .navbar .nav-icons .nav-icon {
    margin: 0 2px;
    padding: 0 5px;
  }
}
.navbar .nav-icons .nav-icon .nav-icon-number {
  width: 17px;
  height: 17px;
  line-height: 17px;
  background-color: #2A7FF3;
  color: white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
}
.navbar .nav-icons .alerts .alert-image {
  padding: 16px 0px;
  background-color: transparent;
  border: none;
}
.navbar .nav-icons .alerts .alert-image .alert-image-background {
  cursor: pointer;
  width: 21px;
  height: 24px;
  -webkit-mask: url("/assets/icons/alerts.svg");
          mask: url("/assets/icons/alerts.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #3FD28B;
  -webkit-mask-position: center;
          mask-position: center;
}
.navbar .nav-icons .alerts .alert-image .icon-active {
  background-color: #fff;
}
.navbar .nav-icons .alerts .alert-number {
  top: 8px;
  right: 6px;
  z-index: 10;
}
@media (max-width: 580px) {
  .navbar .nav-icons .alerts .alert-number {
    right: -1px;
  }
}
.navbar .nav-icons .alerts .hide {
  display: none;
}
.navbar .nav-icons .alerts-container {
  width: 315px;
  max-height: 582px;
  background-color: #fff;
  z-index: 50;
  position: absolute;
  top: 56px;
  right: 136px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
}
@media (max-width: 980px) {
  .navbar .nav-icons .alerts-container {
    right: 188px;
  }
}
@media (max-width: 450px) {
  .navbar .nav-icons .alerts-container {
    right: 10px;
    max-height: 400px;
  }
}
@media (max-width: 350px) {
  .navbar .nav-icons .alerts-container {
    right: 0px;
  }
}
.navbar .nav-icons .alerts-container .alerts-list {
  max-height: 534px;
  overflow-y: scroll;
}
@media (max-width: 450px) {
  .navbar .nav-icons .alerts-container .alerts-list {
    max-height: 350px;
  }
}
.navbar .nav-icons .alerts-container .alerts-list .alert {
  padding: 16px 16px 15px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
}
.navbar .nav-icons .alerts-container .alerts-list .alert .alert-text {
  width: 90%;
  margin: 0px 8px 8px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Quicksand";
  display: inline-block;
}
.navbar .nav-icons .alerts-container .alerts-list .alert .check-icon, .navbar .nav-icons .alerts-container .alerts-list .alert .dnd-icon {
  width: 15px;
  height: 18px;
  background-color: #1F7A54;
  -webkit-mask: url("/assets/icons/CheckCircle.svg");
          mask: url("/assets/icons/CheckCircle.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  float: right;
}
.navbar .nav-icons .alerts-container .alerts-list .alert .dnd-icon {
  width: 17px;
  height: 21px;
  -webkit-mask: url("/assets/icons/DND.svg");
          mask: url("/assets/icons/DND.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.navbar .nav-icons .alerts-container .alerts-list .alert .alert-course-info {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: "Quicksand";
  margin-bottom: 8px;
}
.navbar .nav-icons .alerts-container .alerts-list .alert .alert-course-info .alert-course {
  color: #6E6E6E;
}
.navbar .nav-icons .alerts-container .alerts-list .alert .alert-date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: "Quicksand";
  color: #6E6E6E;
  text-align: right;
}
.navbar .nav-icons .alerts-container .alerts-list .alert-DND {
  background-color: #FFFFEE;
}
.navbar .nav-icons .alerts-container .alerts-list .alert-check {
  background-color: #ffffff;
}
.navbar .nav-icons .alerts-container .showall-alert {
  display: inline-block;
  text-align: center;
  height: 48px;
  width: 100%;
  border: none;
  color: #1F7A54;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 48px;
  font-family: "Quicksand";
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  border-radius: 0px 0px 2px 2px;
}
.navbar .nav-icons .close {
  display: none;
}
.navbar .nav-icons .announcements .announcements-image {
  padding: 18px 0px;
  background-color: transparent;
  border: none;
}
.navbar .nav-icons .announcements .announcements-image .announcements-image-background {
  width: 20px;
  height: 20px;
  -webkit-mask: url("/assets/icons/announcements.svg");
          mask: url("/assets/icons/announcements.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #3FD28B;
  -webkit-mask-position: center;
          mask-position: center;
}
.navbar .nav-icons .announcements .announcements-image .icon-active {
  background-color: #fff;
}
.navbar .nav-icons .announcements .announcement-number {
  top: 8px;
  right: 1px;
  z-index: 10;
}
@media (max-width: 580px) {
  .navbar .nav-icons .announcements .announcement-number {
    right: -6px;
  }
}
.navbar .nav-icons .announcements .hide {
  display: none;
}
.navbar .nav-icons .announcements-container {
  width: 315px;
  max-height: 582px;
  background-color: #fff;
  z-index: 50;
  position: absolute;
  top: 56px;
  right: 80px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
}
@media (max-width: 980px) {
  .navbar .nav-icons .announcements-container {
    right: 136px;
  }
}
@media (max-width: 450px) {
  .navbar .nav-icons .announcements-container {
    right: 10px;
    max-height: 400px;
  }
}
@media (max-width: 350px) {
  .navbar .nav-icons .announcements-container {
    right: 0px;
  }
}
.navbar .nav-icons .announcements-container .announcements-list {
  max-height: 534px;
  overflow-y: scroll;
}
@media (max-width: 450px) {
  .navbar .nav-icons .announcements-container .announcements-list {
    max-height: 350px;
  }
}
.navbar .nav-icons .announcements-container .announcements-list .announcement {
  padding: 16px 16px 15px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
  box-sizing: border-box;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 5px;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line1 .public-address-info {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: "Quicksand";
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line1 .public-address-info .public-address {
  color: #6E6E6E;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line1 .check-icon, .navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line1 .dnd-icon {
  width: 15px;
  height: 18px;
  background-color: #1F7A54;
  -webkit-mask: url("/assets/icons/CheckCircle.svg");
          mask: url("/assets/icons/CheckCircle.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  float: right;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line1 .dnd-icon {
  width: 17px;
  height: 21px;
  -webkit-mask: url("/assets/icons/DND.svg");
          mask: url("/assets/icons/DND.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-text {
  width: 245px;
  margin: 0px 8px 8px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Quicksand";
  display: inline-block;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-course-info {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: "Quicksand";
  margin-bottom: 8px;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-course-info .announcement-course {
  color: #6E6E6E;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line3 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line3 .announcement-file, .navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line3 .announcement-date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  font-family: "Quicksand";
  color: #6E6E6E;
  display: inline-block;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement .announcement-line3 .announcement-file {
  margin-right: auto;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement-DND {
  background-color: #FFFFEE;
}
.navbar .nav-icons .announcements-container .announcements-list .announcement-check {
  background-color: #ffffff;
}
.navbar .nav-icons .announcements-container .announcement-bottom-buttons {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  border-radius: 0px 0px 2px 2px;
  background: #fff;
}
.navbar .nav-icons .announcements-container .announcement-bottom-buttons .showall-alert, .navbar .nav-icons .announcements-container .announcement-bottom-buttons .create-new {
  display: inline-block;
  text-align: center;
  height: 48px;
  width: 50%;
  border: none;
  color: #1F7A54;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 48px;
  font-family: "Quicksand";
}
.navbar .nav-icons .announcements-container .announcement-bottom-buttons .line {
  display: inline-block;
  width: 1px;
  height: 30px;
  margin: 0 0px;
  background-color: rgba(0, 0, 0, 0.1215686275);
}
.navbar .nav-icons .close {
  display: none;
}
.navbar .nav-icons .avatar {
  padding: 12px;
}
@media (max-width: 580px) {
  .navbar .nav-icons .avatar {
    margin: 0 2px;
    padding: 12px 5px;
  }
}
.navbar .nav-icons .avatar img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .nav-icons .avatar .avatar-number {
  top: 7px;
  right: 9px;
  background-color: white;
  color: #222222;
  font-size: 10px;
  line-height: 17px;
}
@media (max-width: 580px) {
  .navbar .nav-icons .avatar .avatar-number {
    right: 2px;
  }
}
.navbar .nav-icons .ham-icon {
  display: none;
  border: none;
  background-color: transparent;
  padding: 19px 10px;
}
@media (max-width: 580px) {
  .navbar .nav-icons .ham-icon {
    margin: 0 2px;
    padding: 19px 5px;
  }
}
@media (max-width: 980px) {
  .navbar .nav-icons .ham-icon {
    display: block;
  }
}
.navbar .nav-icons .ham-icon .ham-icon-image {
  width: 31px;
  height: 18px;
}
.navbar .nav-icons .ham-icon .icon-active {
  filter: brightness(0) invert(1);
}

footer .footer-top {
  margin-bottom: 16px;
}
footer .footer-top p {
  width: 130px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Quicksand";
}
footer .footer-top p a {
  color: #1F7A54;
}
footer .footer-top p .line {
  display: inline-block;
  width: 1px;
  height: 18px;
  margin: 0 8px;
  background-color: rgba(0, 0, 0, 0.1215686275);
}
footer .footer-bottom {
  min-height: 40px;
  height: auto;
  width: 100%;
  background: #E0E1E1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom .footer-logo {
  width: 90px;
  height: 24px;
  margin-left: 32px;
}
footer .footer-bottom .line {
  display: inline-block;
  width: 1px;
  height: 24px;
  margin: 0 16px;
  background-color: rgba(0, 0, 0, 0.1215686275);
}
footer .footer-bottom .footer-br {
  display: flex;
  flex-wrap: wrap;
  color: #616161;
}
footer .footer-bottom .footer-br .footer-data {
  margin-right: 10px;
  font-size: 12px;
}
footer .footer-bottom .footer-br .footer-data:nth-child(2) {
  font-weight: bold;
}

@font-face {
  font-family: "Quicksand";
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 1px solid #7A1F45;
}

body {
  max-width: 100vw;
  height: auto;
  background: #EEEEEE;
  font-family: "Quicksand";
}/*# sourceMappingURL=main.css.map */