.navbar{
    width: 100%;
    height: 56px;
    background-color: $navbarBackground;
    box-sizing: content-box;
    border-bottom: 2px solid $navbarBottomBorder;
    position: relative;
    display: flex;
    @include flex(row,start,center);

    .demo-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 56px;
        background: transparent url('../../assets/header_image.png') 0% 0% no-repeat padding-box;
        mix-blend-mode: overlay;
        opacity: 0.8;
      }

    .main-logo{
        width: 134px;
        height: 36px;
        margin: 10px auto 10px 24px;
        z-index: 5;
    }

    .navbar-nav{
        @include flex(row,center,center);
        @include forTablet{
            @include flex(column,center,start);
            position: absolute;
            width: 280px;
            top:59px;
            right:16px;
            background-color: $verticalNavbarBackground;
            border-radius: 2px;
            box-shadow: 0px 13px 20px #0000003D;
            z-index: 99;
            visibility: hidden;
        }

        .nav-item{
            margin-left: 32px;
            z-index: 999;
            cursor: pointer;
            height: 56px;
            line-height: 56px;
            color: $navbarColor;

            @include forTablet{
                margin-left: 16px;
                height: 46px;
                line-height: 46px;
            }

            a{
                text-decoration: none;
                color: $navbarColor;

                &:focus{
                    outline: 1px solid $outlineColor2;
                }
                @include forTablet{
                    color: $verticalNavbarText;
                    &:focus{
                        outline: 1px solid $outlineColor;
                    }
                }
            }
        }
        .active-white{
            border-bottom: 4px solid white;
            a{
                color: white ;
            }

            @include forTablet{
                border: none;
                a{
                    color: $verticalNavbarText;
                }
            }
        }
    }
    .collapse{
        visibility: visible;
    }

    .nav-icons{
        @include flex(row,center,center);
        margin-right: 24px;
        @include forPhone{
            margin-right: 2px;
        }

        .nav-icon{
            background: transparent;
            border: none;
            margin-left: 32px;
            cursor: pointer;
            position: relative;
            height: 100%;
            
            &:focus{
                outline: 1px solid $outlineColor2;
            }

            @include forPhone{
                margin-left: 10px;
            }
            .icon-number{
                width: 17px;
                height: 17px;
                line-height: 17px;
                background-color: $badgeBackground;
                color: $badgeColor;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                top: -6px;
                right: -5px;
            }
            .announcement-number{
                top: -10px;
                right: -5px;
            }
        }
        .avatar{
            position: relative;
            cursor: pointer;
            margin-left: 32px;

            &:focus{
                outline: 1px solid $outlineColor2;
            }

            @include forPhone{
                margin-left: 10px;
            }
            img{
                width: 32px;
                height: 32px;
                object-fit: cover;
            }
            .avatar-number{
                width: 17px;
                height: 17px;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                top: -4px;
                right: -5px;
                background-color: $badgeColor;
                color: $selectTextColor;
                font-size: 10px;
                line-height: 17px;
            }
        }
        .ham-icon{
            display: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &:focus{
                outline: 1px solid $outlineColor2;
            }
            @include forTablet{
                display: block;
            }
            img{
                width: 32px;
                height: 32px;
                object-fit: cover;
            }
        }
    }
}

