.navbar{
    width: 100%;
    height: 56px;
    background-color: $navbarBackground;
    box-sizing: content-box;
    border-bottom: 2px solid $navbarBottomBorder;
    position: relative;
    display: flex;
    @include flex(row,start,center);

    .demo-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 56px;
        background: transparent url('../../assets/header_image.png') 0% 0% no-repeat padding-box;
        mix-blend-mode: overlay;
        opacity: 0.8;
      }

    .main-logo{
        width: 134px;
        height: 36px;
        margin: 10px auto 10px 24px;
        z-index: 5;
    }

    .navbar-nav{
        @include flex(row,center,center);
        @include forTablet{
            @include flex(column,center,start);
            position: absolute;
            width: 280px;
            top:59px;
            right:16px;
            background-color: $verticalNavbarBackground;
            border-radius: 2px;
            box-shadow: 0px 13px 20px #0000003D;
            z-index: 99;
            visibility: hidden;
        }

        .nav-item{
            margin: 0px 12px;
            z-index: 999;
            height: 56px;
            line-height: 56px;
            color: $navbarColor;

            @include forTablet{
                min-height: 48px;
                height: fit-content;
                line-height: 48px;
                width: calc(100% - 24px);
            }

            div{
                a{
                    text-decoration: none;
                    color: $navbarColor;
                    padding: 4px 4px;
                    cursor: pointer;

                    &:focus{
                        outline: 1px solid $outlineColor2;
                    }
                    @include forTablet{
                        color: $verticalNavbarText;
                        &:focus{
                            outline: 1px solid $outlineColor;
                        }
                    }
                }
                .drop-down-icon{
                    display: none;
                    @include forTablet{
                        display: block;
                        width: 12px;
                        height: 24px;
                        float: right;
                        padding: 12px;
                        margin-top: 12px;
                        background-image: url("/assets/icons/arrow-down.svg");
                        background-position: center;
                        background-size: cover;
                        background-color: $verticalNavbarBackground;
                        border: none;
                    }
                }
            }
        
        }
        .active-white{
            border-bottom: 4px solid white;
            a{
                color: white ;
            }

            @include forTablet{
                border: none;
                a{
                    color: $verticalNavbarText;
                }
            }
        }
    }
    .expand{
        visibility: visible;
    }

    //===========================SUb-NAVBAR=========
    .subnav{
        display: none;
        @include forTablet{
            @include flex(column,center,start);
        }
    }
    .close{
        display: none;
    }
    .subnav-item{
        height: 48px;
        line-height: 46px;
        margin-left: 16px;
        a{
            text-decoration: none;
            color: $verticalNavbarText;
            padding: 4px 4px;
        }
    }

    //====================NAV ICONS=======================
    .nav-icons{
        @include flex(row,center,start);
        margin-right: 8px;
        height: 56px;
        @include forPhone{
            margin-right: 0px;
        }

        .nav-icon{
            background: transparent;
            border: none;
            margin: 0px 12px;
            padding: 0 4px;
            cursor: pointer;
            position: relative;
            
            &:focus{
                outline: 1px solid $outlineColor2;
            }

            @include forPhoneXl {
                margin: 0 5px;
                padding: 0 2px;
            }

            .nav-icon-number{
                width: 17px;
                height: 17px;
                line-height: 17px;
                background-color: $badgeBackground;
                color: $badgeColor;
                border-radius: 50%;
                text-align: center;
                position: absolute;
            }   
        }

        .alerts{
            margin-top: 20px;
            height: 36px;
            img{
                width: 21px;
                height: 24px;
            }
            .alert-number{
                top: -7px;
                right: -2px;
            }
        }

        .announcements{
            margin-top: 22px;
            height: 34px;
            img{
                width: 20px;
                height: 20px;
            }
            .announcement-number{
                top: -9px;
                right: -7px;
            }
        }

        .avatar{
            margin-top: 16px;
            height: 40px;
            img{
                width: 32px;
                height: 32px;
                object-fit: cover;
            }
            .avatar-number{
                top: -5px;
                right: 0px;
                background-color: $badgeColor;
                color: $selectTextColor;
                font-size: 10px;
                line-height: 17px;
            }
        }
        .ham-icon{
            display: none;
            border: none;
            background-color: transparent;
            margin-top: 17px;
            height: 43px;
            width: 35px;
            // padding-left: 0px;
            @include forTablet{
                display: block;
            }
            div{
                height: 100%;
                width: 27px;
                @include flex(column, start,start);
                .line{
                    display: inline-block;
                    max-width: 100%;
                    width: 98%;
                    height: 3px;
                    margin-bottom: 6px;
                    background-color: $hamburgerLines;
                }
            }
        }
        .active-ham{
            div{
                .line{
                    background-color: $hamburgerLinesA;
                }
            }
        }
    }
}

