.navbar{
    width: 100%;
    height: 56px;
    // background-color: black;
    display: flex;
    @include flex(row,start,center);

    .demo-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 56px;
        opacity: 1;
        z-index: -5;
      }

    .main-logo{
        width: 134px;
        height: 36px;
        margin: 10px auto 10px 24px;
        z-index: 5;
    }

    .navbar-nav{
        @include flex(row,center,center);

        @include forTablet{
            display: none;
        }

        .nav-item{
            margin-left: 32px;
            height: 56px;
            line-height: 56px;
            color: $navbarColor;
        }
    }
    .nav-icons{
        @include flex(row,center,center);
        margin-right: 24px;
        @include forPhone{
            margin-right: 2px;
        }

        .nav-icon{
            margin-left: 32px;
            position: relative;
            @include forPhone{
                margin-left: 10px;
            }
            .icon-number{
                width: 17px;
                height: 17px;
                background-color: $badgeBackground;
                color: $badgeColor;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                top: -6px;
                right: -5px;
            }
            .announcement-number{
                top: -10px;
                right: -5px;
            }
        }
        .avatar{
            position: relative;
            margin-left: 32px;
            @include forPhone{
                margin-left: 10px;
            }
            img{
                width: 32px;
                height: 32px;
                object-fit: cover;
            }
            .avatar-number{
                width: 17px;
                height: 17px;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                top: -6px;
                right: -5px;
                background-color: $badgeColor;
                color: $selectTextColor;
                font-size: 10px;
                line-height: 17px;
            }
        }
        .ham-icon{
            display: none;
            @include forTablet{
                display: block;
            }
            img{
                width: 32px;
                height: 32px;
                object-fit: cover;
            }
        }
    }
}
