::-webkit-scrollbar {
    width: 4px; 	
}
::-webkit-scrollbar-track {
 background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #00000061 0% 0% no-repeat padding-box;
   border-radius: 6px;
}