@import "../components/select";
@import "../utils/_mixin.scss";
@import "../utils/variables";

.topbar{
    height: 64px;
    max-width: 100%;
    @include flex(row,space-evenly,start);
    background: $topbarBackground;
    margin: 24px 24px;

    .icon-card{
        cursor: pointer;
        width: 50%;
        //when I click the buttons content was shifting up and down
        //as display is flex and i am adding and removing border
        //so reduced height to 60px and content-box. so now when 4px 
        //border is added it will added below content so no changes to
        //content height.
        height: 60px;
        box-sizing: content-box;
        background: $topbarBackground;
        border:none;
        @include flex(row,center,center);
        font-size: 16px;

        &:focus{
            outline: auto;
        }

        .icon{
            width: 21px;
            height: 32px;
            object-fit: cover;
            margin-right: 8px;
        }

        .icon-number{
            font-size: 24px;
            font-weight: bold;
            margin-right: 8px;
        }  
    }
    .active-black{
        border: none;
        border-bottom: 4px solid black;
    }
}

.sortmenu{
    max-width: 100%;
    height: 45px;
    @include flex(row,space-between,center);
    margin: 24px 24px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.12);

    @include forTablet{
        margin: 24px; 
    }

    p{
        font-size: 12px;
        color: $sortMenuParagraph;
        @include forPhoneXs{
            margin-left: 4px;
            font-size: 10px;
        }
    }

    div{
        @include flex(row,end,start);
        width: 253px;
        height: 27px;
        @include forPhone{
            width: fit-content;
        }

        .sortby{
            @include flex(row,center,center);
            margin: 0px 24px 0px 0px;
            @include forPhone{
                margin: 0px 10px 0px 0px;
            }
            // width: 165px;
            p{
                width: 45px;
                margin-right: 5px;
            }

            .sort-select{
                &:focus{
                    outline: 1px solid $outlineColor
                }
                @extend select;
                background-color: $dashboardSelectBackground;
                width: 165px;
                color: $dashboardSelectText;
                padding: 0px;
                @include setFont(normal,500,16px,20px,Quicksand);
                
                cursor: pointer;
                @include forPhone{
                    @include setFont(normal,500,12px,20px,Quicksand);
                    width: 150px;
                }
            }
        }
        .up-icon{
            width: 12px;
            height: 24px;
            object-fit: contain;
        }
    }
}

//.course-container{
    // display: grid;
    // grid-template-columns: 24px 1fr 24px;

    .course-main-col{
        // grid-column: 2 / span 1;
        display: flex;
        gap:24px;
        padding: 0px 24px;
        justify-content: center;
        flex-wrap: wrap;

        .course-card{
            max-width: 476px;
            width: 476px;
            height: 246px;
            // flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 476px;
            background-color: $courseCardBack;
            border-radius: 2px;
            padding: 24px 24px 0 24px;
            position: relative;

            @include forTablet{
                flex-grow: 1;
                max-width: 571px;
            }
            
            @include forPhoneXl{
                width: 377px;
                
                padding: 5px 5px 0px;
            }

            @include forPhone{
                width: 327px;
                height: 230px;
            }

            @include forPhoneXs{
                width: 272px;
                padding: 3px 3px 3px;
                height: 170px;
            }

            &:last-child{
                margin-right: 0px;
            }
            
        
            .expired{
                width: 52px;
                height: 18px;
                font-size: 10px;
                line-height: 16px;
                color: $expireText;
                background: $expireBack;
                border-radius: 2px;
                position: absolute;
                top:0px;
                left:0px;
                text-align: center;
            }
    
            .star{
                position: absolute;
                top:24px;
                right: 24px;
                @include forPhoneXl{
                    top:5px;
                    right:5px;
                }
                img{
                    width: 20px;
                    height: 24px;
                }
            }
    
            .course-card-top{
                display: flex;
    
                .course-img{
                    width: 132px;
                    height: 157px;
                    margin-right: 16px;
                    @include forPhoneXl{
                        margin-right: 5px;
                    }
                    @include forPhoneXs{
                        width: 80px;
                        height: 100px;
                    }
                }
    
                .course-info{
                    width: 100%;
    
                    .course-title{
                        width: 90%;
                        color: $courseTitle;
                        margin-bottom: 8px;
                        @include setFont(normal,500,16px,20px,Quicksand);
                        max-height: 40px;
                        overflow: hidden;

                        @include forPhoneXs{
                            margin: 0px;
                        }
                        
                    }
    
                    .course-sg,.course-unit-info,.course-student{
                        @include setFont(normal,500,12px,16px,Quicksand);
                        @include flex(row,start,center);
                        margin: 8px 0;

                        @include forPhoneXs{
                            @include setFont(normal,500,10px,14px,Quicksand);
                            margin: 2px 0;
                        }

                    }
    
                    .course-sg{
                        color: $courseSubjectGrade;
                        .line{
                            @include verticalLine(12px,9px,$verticalLineColor);
                        }
                        .text-green{
                            color: $formComponentColor;
                        }
                        
                    }
                    .course-unit-info{
                        font-weight: 700;
                        .course-unit,.course-lesson,.course-topic{
                            color: $courseSubjectGrade;
                            display: inline-block;
                            margin: 0 8px 0 3px;
    
                            @include forPhoneXs{
                                margin: 0px 2px  0 2px;
                            }
                        }
                    }
                    .course-student{
                        color: $courseSubjectGrade;
                        margin-bottom: 0px;
                        .line{
                            @include verticalLine(12px,9px,$verticalLineColor);
                        }
                        @include forPhoneXs{
                            @include setFont(normal,500,10px,12px,Quicksand);
                        }
                    }
                    .course-classes{
                        width: 100%;
                        select{
                            @include setFont(normal,500,16px,20px,Quicksand);
                            @include forPhoneXs{
                                @include setFont(normal,500,12px,14px,Quicksand);
                                padding: 0px;
                            }
                        }
                        .full-width{
                            width: 100%;
                        }
                        .disabled{
                            color: #222222;
                            opacity: 0.4;
                        }
                        
                    }
                }
            }
    
            .hl{
                height: 1px;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.12);
                margin: 16px 0px;

                @include forPhoneXs{
                    margin: 12px 0;
                }
            }
    
            .course-card-bottom{
                width: 100%;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 24px;
                
                button{
                    width: 24px;
                    object-fit: contain;
                    
                    background-color: $courseCardBack;
                    border: none;
                    img{
                        cursor: pointer;
                    }
                    img.preview{
                        width: 22px;
                        height: 24px;
                    }
                    img.manage-course, img.grade-submission{
                        width: 18px;
                        height: 20px;
                    }
                }

                .disabled{
                    opacity: 0.4;
                    cursor:auto;
                }
            }
        }
    }
    

    
//}

footer{
    margin-top: 32px;
}







