@mixin flex($direction,$main,$cross){
    display: flex;
    flex-direction: $direction;
    justify-content: $main;
    align-items: $cross;
}

@mixin setFont($style,$weight,$size,$line,$family){
    font-style:$style;
    font-weight:$weight;
    font-size:$size;
    line-height:$line;
    font-family:$family; 
}

@mixin verticalLine($height,$margin,$bg){
    display: inline-block;
    width: 1px;
    height: $height;
    margin: 0 $margin;
    background-color: $bg;
}


@mixin customScroll($width,$track,$thumb,$hov){
    /* width */
::-webkit-scrollbar {
    width: $width;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $track;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $thumb;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $hov;
  }
}

@mixin forPhoneXs{
    @media (max-width:350px){@content;}
}
@mixin forPhone{
    @media (max-width:450px){@content;}
}
@mixin forPhoneXl{
    @media (max-width:580px){@content;}
}
@mixin forTablet{
    @media (max-width:980px){@content;}
}
@mixin forLaptop{
    @media (max-width:1030px){@content;}
}
@mixin forLaptopL{
    @media (max-width:1450px){@content;}
}
@mixin for4k{
    @media (min-width:1450px){@content;}
}