$outlineColor : #7A1F45;
$outlineColor2 : #DFF0D8;

//========================Login page
$bodyColor : #EEEEEE;
$formBackgroundColor : white;

$navbarBackground : #25313F;
$navbarBottomBorder : #31B9E4;

$borderTop:#3AC7EC;
$formComponentColor : #1F7A54;
$selectHeadingColor : #666666;
$selectTextColor: #222222;
$loginBtnColor:#3FD28B;

$footerBackgroundColor : #E0E1E1;
$footerTextColor : #616161;
$verticalLineColor : #0000001F;

//==========================Dashboard page
$navbarColor:#3FD28B;
$hamburgerLines : #8DDC97;
$hamburgerLinesA : #ffffff;

$verticalNavbarText : #1F7A54;
$verticalNavbarBackground : #ffffff;
$submenuOpenBack : #F3F3F3;

$alertIcon : #3FD28B;
$alertIconActive : #fff;

$badgeColor: white;
$badgeBackground: #2A7FF3;

$alertBorder : #2222221F;
$alertsCheckColor : #1F7A54;
$alertDateCourse : #6E6E6E;
$alertDNDback : #FFFFEE;
$alertCheck: #ffffff;

$PAannouncements : #6E6E6E;
$bottomButtons : #fff;

$topbarBackground: #8DDC97;;

$dashboardSelectBackground : #EEEEEE;
$dashboardSelectText : #333333;
$sortMenuParagraph : #686868;

$expireBack : #FFE4E6;
$expireText: #D80000;

$courseCardBack : #fff;
$courseTitle : #222222;

$courseSubjectGrade : #666666;